<h1 class="text-center">Customer's Detail</h1><br><br>
<h2 class="text-center">Customer Name  :-  <%=@customer.name%></h2>
<h2 class="text-center">Contact Number  :-  <%=@customer.contact %><br></h2>
